@charset "UTF-8";

@import url('html5doctor-reset.css');
@import url('typography.css');
@import url('nav.css');


/* Main CSS Document for My Ai WebSite */



body {
	background-color: #000;
	/* this is how you do multiple images 
	background-image: url(images/image1.png), url(images/images2.png), url(images/image3.png);
	background-position: bottom, left top, right top;
	background-repeat: no-repeat, no-repeat, no-repeat;
	*/
}

header {
	min-height: 60px;
	background: url('../images/sparkleh_starreh_bg.gif') top left no-repeat;
	background-size: cover;
}

@media screen and (min-width: 601px) {
	
	#wrapper {
		width: 600px;
		margin: 0 auto;
	}
	
}