/* CSS Document */

/* Load in some Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|VT323');

/* Load an icon library to show a hamburger menu (bars) on small screens */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
	
@font-face {
	font-family: '04B30';
	src: url('../fonts/04B_30__.TTF') format('truetype');
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'VT323', monospace;
*/

h1 {
	color: #0F0;
	color: rgb(0, 255, 0);
	font-family: '04B30';
	
}

nav a {
	color: #0F0;
	font-family: 'VT323', monospace;
	text-decoration: none;
	line-height: 1.5em;
}

nav a.active {
	color: #000;
}

ol, p {
	color: #fff;
}

footer p {
	text-align: center;
	font-size: 8px;
	padding: 20px;
}